.textField {
  display: block;
  width: 100%;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  color: $gray-900;
  background-color: $white;
  background-clip: padding-box;
  border: 1px solid #efe9e1;
  appearance: none;
  border-radius: 0.95rem;
  box-shadow: inset 0 1px 2px rgb(0 0 0 / 8%);
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

  &:focus {
    background-color: #f4f1eb;
    border-color: #f4f1eb;
    color: $gray-700;
    transition: color .2s ease,background-color .2s ease;
    outline-color: #f4f1eb;
  }

  &__error {
    width: 100%;
    margin-top: 0.5rem;
    font-size: .925rem;
    color: $danger;
    word-break: break-word;
  }

  &__solid {
    background-color: $gray-100;
    border-color: $gray-100;
    color: $gray-700;
    transition: color .2s ease,background-color .2s ease;
  }

  &__lg {
    min-height: calc(1.5em + 1.65rem + 2px);
    padding: 0.825rem 3.5rem 0.825rem 1.5rem;
    font-size: 1.15rem;
    border-radius: 0.95rem;
  }

  &__container {
    flex: 1;
    margin-bottom: 2.5rem;

    input:focus {
      background-color: #f4f1eb;
      border-color: #f4f1eb;
      color: $gray-700;
      transition: color .2s ease,background-color .2s ease;
    }

    & > .input-wrap {
      display: flex;
      position: relative;

      & > span {
        display: flex;
        align-items: center;
        height: 100%;
        position: absolute;
        right: 10px;

        &.error { color: $danger; }
        &.check { color: $success; }

        & > svg {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}
