.btn {
  &.submit {
    margin-bottom: 1.25rem;

    @media #{$tablet} {
      width: 100%;
    }
  }

  & > .label {
    font-size: 1.15rem!important;
  }

  & > .loading {
    display: flex;
    justify-content: center;
  }
}
