// danger
$alert-background-danger: #f8d7da;
$alert-border-danger: #f5c6cb;
$alert-color-danger: #721c24;

// warning
$alert-background-warning: #fff3cd;
$alert-border-warning: #ffeeba;
$alert-color-warning: #856404;

// success
$alert-background-success: #d4edda;
$alert-border-success: #c3e6cb;
$alert-color-success: #155724;

// primary
$alert-background-primary: #cce5ff;
$alert-border-primary: #b8daff;
$alert-color-primary: #004085;
