$gray-100: #F8F6F2;
$gray-200: #F6F1E9;
$gray-300: #DAD3C3;
$gray-400: #B5B0A1;
$gray-500: #968E7E;
$gray-600: #8E887A;
$gray-700: #716D66;
$gray-800: #403D38;
$gray-900: #211F1C;

$white: #ffffff;
$light: #F8F6F2;
$primary: #4FC9DA;
$secondary: #DAD3C3;
$success: #B8D935;
$info: #4F55DA;
$warning: #E8C444;
$danger: #F06445;
$dark: #211F1C;
$light-primary: #DDF8FC;
$active-primary: #30A6B6;
$light-success: #F4FBDB;
$active-success: #9FBE22;
$light-info: #EFF0FF;
$active-info: #383EBC;
$light-warning: #FDF4D6;
$active-warning: #CFAB2A;
$light-danger: #FFF0ED;
$active-danger: #DB5437;
$light-dark: #F6F1E9;
$active-dark: #191715;
$border-color: #EAEAEA;
$border-dashed-color: #EAEAEA;
