.loginContainer {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  &__content {
    display: flex;
    flex: 1;

    @media #{$tablet} {
      flex-direction: column;
    }
  }

  &__panel {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__details {
      display: flex;
      flex: 1;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      & > h1 {
        color: $white;
        font-weight: 600;
        font-size: calc(1.35rem + 1.2vw);
        padding-top: 3rem;
        padding-bottom: 2.5rem;
      }

      & > p {
        color: $white;
        font-weight: 600;
        font-size: calc(1.35rem + 1.2vw);
      }
    }

    &__image {
      background-image: url(#{'/images/banner.png'});
      background-size: contain;
      background-position-x: center;
      background-repeat: no-repeat;
      min-height: 350px;
      width: 100%;

      @media #{$mobile} {
        min-height: 297px;
      }
    }
  }

  &__banner {
    width: 40%;

    @media #{$tablet} {
      width: 100%;
    }
  }

  &__form {
    display: flex;
    flex: 1 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 0;

    padding-top: 2.5rem;
    padding-bottom: 2.5rem;

    &__submit {
      text-align: center!important;
    }

    &__content {
      display: flex;
      flex-direction: column;

      &__wrapper {
        width: 500px;
        padding: 3.75rem;
        margin-right: auto;
        margin-left: auto;

        @media #{$tablet} {
          width: 400px;
        }

        @media #{$mobile} {
          width: 320px;
        }

        & > form {
          .title {
            text-align: center;
            margin-bottom: 2.5rem;

            & > h1 {
              color: $dark;
              margin-bottom: 0.75rem;
              font-size: 1.75rem;
            }
          }

          .actions {
            color: $gray-400;
            font-size: 1.25rem!important;

            a {
              color: $primary;
              font-weight: 600;
              font-size: 1.25rem!important;
              margin-left: 6px;
            }
          }
        }
      }
    }
  }
}

.banner-color {
  background-color: $primary;
}

.textField {
  &__email {
    margin-bottom: 0.5rem;

    &__label {
      font-weight: 600;
      font-size: 1.075rem;
      margin-bottom: 0;
    }
  }

  &__password {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;

    &__label {
      font-weight: 600;
      font-size: 1.075rem;
      margin-bottom: 0;
    }

    & > a {
      font-weight: 600;
    }
  }
}

.field-error {
  width: 100%;
  margin-top: 0.5rem;
  font-size: .925rem;
  color: #f06445;
}
