.passwordField {
  &__content {
    display: flex;
    position: relative;

    span {
      position: absolute;
      right: 14px;
      cursor: pointer;

      svg {
        fill: $gray-500;
      }
    }
  }
}
