@import url('https://fonts.googleapis.com/css?family=Poppins:400,700');

*, ::after, ::before {
  font-family: Poppins,Helvetica,sans-serif;
  font-size: 13px!important;
  font-weight: 400;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, #root {
  display: flex;
  flex-direction: column;
  background-color: $white;
  color: $gray-900;
  height: 100vh;
}

form {
  display: block;
  margin-top: 0em;
}

a {
  transition: color .2s ease,background-color .2s ease;
}

a {
  color: $primary;
  text-decoration: none;
}

h1 {
  font-size: 1.75rem!important;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 600;
  line-height: 1.2;
  color: $gray-900;
}

button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button:disabled {
  background-color: $gray-300!important;
  border-color: $gray-300!important;

  &:hover {
    background-color: $gray-300!important;
    border-color: $gray-300!important;
  }
}

table {
  width: 100%;
  border-spacing: 0;
}

thead th, tbody td {
  cursor: pointer;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: inherit;
  border-bottom: 1px dashed #eaeaea;
}

tbody td {
  padding-top: 1rem;
  padding-bottom: 1rem;
  min-width: 175px;
}

tbody tr:last-child td {
  border-bottom: 0!important;
}

.table-td-center {
  text-align: center!important;
}

.table-td-right {
  text-align: right!important;
}

.table-responsive {
  position: relative;
  overflow-x: auto;
}

.separator {
  display: block;
  height: 0;
  border-bottom: 1px dashed #eaeaea;

  margin-top: 1.25rem!important;
  margin-bottom: 1.25rem!important;
}

.d-none {
  display: none!important;
}

.f-start {
  justify-content: flex-start!important;
}

.form-label {
  font-size: 1.05rem;
  font-weight: 500;
  color: $gray-800;
}

.inputGroup {
  display: flex;
  width: 100%;

  @media #{$tablet} {
    flex-direction: column;
  }

  div {
    width: 100%;
    & + div:not(.textField__error) {
      margin-left: 16px;
    }

    @media #{$tablet} {
      & + div:not(.textField__error) {
        margin-left: 0;
      }
    }
  }
}

.imageGroup {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 10px;
  margin-bottom: 0.25rem;

  .moreImages {
    .number {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 500;
      color: #403d38;
      background-color: #f8f6f2;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      border-radius: 0.95rem;

      font-size: .75rem!important;
      color: #fff!important;
      background-color: rgba(33,31,28,1)!important;
    }
  }

  .noneImage {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: #403d38;
    background-color: #f8f6f2;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 0.95rem;
    background-color: #ddf8fc!important;
    width: 25px;
    height: 25px;

    .char {
      color: #4fc9da!important;
      font-size: .95rem!important;
    }
  }

  .imageCircle {
    cursor: pointer;
    position: relative;
    z-index: 0;
    margin-left: -10px;
    border: 2px solid #fff;
    transition: all .3s ease;
    border-radius: 50%;
    display: inline-block;
    flex-shrink: 0;

    img {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      flex-shrink: 0;
      display: inline-block;
      vertical-align: middle;
    }
  }
}

.badge-success {
  color: #b8d935!important;
  background-color: #f4fbdb;
}

.badge-primary {
  color: #4fc9da!important;
  background-color: #ddf8fc;
}

.badge-warning {
  color: #e8c444!important;
  background-color: #fdf4d6;
}

.badge {
  display: inline-block;
  padding: 0.5em 0.85em;
  font-size: .85rem;
  font-weight: 600;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.475rem;
}
