.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-danger {
  color: $alert-color-danger;
  background-color: $alert-border-danger;
  border-color: $alert-border-danger;
}

.alert-warning {
  color: $alert-color-warning;
  background-color: $alert-border-warning;
  border-color: $alert-border-warning;
}

.alert-success {
  color: $alert-color-success;
  background-color: $alert-border-success;
  border-color: $alert-border-success;
}

.alert-primary {
  color: $alert-color-primary;
  background-color: $alert-border-primary;
  border-color: $alert-border-primary;
}
