@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

* {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: $background;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: -20px 0 50px;
}

h1 {
  font-weight: bold;
  margin: 0;
}

h2 {
  text-align: center;
}

p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

span {
  font-size: 12px;
}

a {
  color: $black;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

button {
  border-radius: 20px;
  border: 1px solid $primary;
  background-color: $primary;
  color: $white;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;

  &:hover {
    opacity: 0.9;
  }

  &:active {
    transform: scale(0.95);
  }

  &:focus {
    outline: none;
  }

  &.ghost {
    background-color: transparent;
    border-color: $white;
  }
}

form {
  background-color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;

  @media #{$mobile-small-and-down} {
    padding: 0 10px;
  }
}

input {
  background-color: $background;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;

  &:focus {
    outline-color: $blue;
  }
}

footer {
  background-color: $black;
  color: $white;
  font-size: 14px;
  bottom: 0;
  position: fixed;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 999;

  p {
    margin: 10px 0;
  }

  a {
    color: $blue;
    text-decoration: none;
  }
}

.input-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;

  position: relative;

  input {
    padding: 12px 33px 12px 15px;
  }

  .status {
    position: absolute;
    right: 8px;
    cursor: help;
  }
}
