// success
$badge-color-success: #b8d935;
$badge-background-color-success: #f4fbdb;

// primary
$badge-color-primary: #4fc9da;
$badge-background-color-primary: #ddf8fc;

// warning
$badge-color-warning: #e8c444;
$badge-background-color-warning: #fdf4d6;
