.passwordField {
  &__contant {
    display: flex;
    position: relative;

    div {
      input {
        padding: 0.825rem 3.5rem 0.825rem 1.5rem;
      }
    }

    span {
      position: absolute;
      right: 14px;
      cursor: pointer;

      svg {
        fill: $gray-500;
      }
    }
  }
}
